:root {
  --bg-color: hsl(0, 0%, 98%);
  --primary-color: hsl(204, 100%, 40%);
  --white: hsl(0, 0%, 100%);
  --body-text: hsl(210, 6%, 34%);
  --title-color: hsl(0, 100%, 50%);
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--white);
  color: var(--body-text);
  min-height: 100vh;
  font-size: 1.6rem;
  line-height: 1.5;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*
  AppBar
*/

.app__bar {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.app__bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 10px auto;
  padding-top: 10px;
}

.app__bar .app__bar-brand {
  display: flex;
  align-items: center;
}

.app__bar .app__bar-brand h1 {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 22px;
  user-select: none;
  font-weight: bolder;
  padding: 0 20px;
}

.app__bar .app__bar-navigation {
  top: 50px;
  padding: 0px 20px;
}

.app__bar .app__bar-navigation ul li a {
  color: black;
  width: 100%;
  text-decoration: none;
}

.app__bar .app__bar-navigation ul li {
  list-style: none;
}

main {
  width: 100%;
  max-width: 1200px;
  flex: 1;
  padding: 32px;
  margin: 0 auto;
}


/*
  * content
*/
.content {
  margin: 0 auto;
  min-height: 100%;
}

.hero {
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
}

.select {
  margin: 20px 0;
}

.container__radio {
  display: flex;
  flex-wrap: wrap;

}

.container__radio input {
  margin-left: 20px;
  margin-top: 5px;
}

.primary__button {
  width: 100%;
  padding: 10px 0;
  background-color: var(--primary-color);
  color: var(--white);
  font-weight: bold;
  margin-top: 20px;
  border: none;
  font-size: 18px;
}

.primary__button:hover {
  background-color: rgb(99, 99, 231);
}

/* 
*
  footer
*
*/

footer {
  padding: 16px;
}

footer p {
  text-align: center;
  color: #aaaaaa;
}

footer p a {
  font-weight: bold;
  color: var(--primary-color);
  text-decoration: none;
}


@media screen and (min-width: 315px) {
  .headline__content {
    padding: 16px 16px;
  }

  .headline__description {
    font-size: 16px;
  }
}
@media screen and (min-width: 650px) {
  .headline__content {
    margin: 0 auto;
    max-width: 650px;
  }

  .headline__content-detail {
    padding: 16px 32px;
  }

}

@media screen and (min-width: 850px) {
  .posts {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

@media screen and (min-width: 900px) {
  .headline {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
  }

  .headline__figure img {
    width: 380px;
    height: 380px;
  }

  h1.headline__title {
    text-align: left;
    font-size: 28px;
  }

}

@media screen and (min-width: 850px) {
  .portfolio {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
      grid-template-columns: repeat(4, 1fr);
  }
}